* {
    font-family: sans-serif;
    box-sizing: border-box;
}

div#container {
    position: fixed;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    padding: 1%;
    overflow: auto;
    background: #52d8fa69;
    border-radius: 25px;
}

input {
    margin: 8px 0 -2px 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.no {
    float: right;
}
label {
    width: 100%;
    padding: 12px 12px 12px 0;
    display: inline-block;
}
button {
    background-color: #52d8fa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input.invalid,
textarea.invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus.invalid,
textarea:focus.invalid {
    outline: none;
}


.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;

    display: inherit;
}

.error.active {
    padding: 0.3em;
}

button.nav {
    background-color: hsl(32, 100%, 82%);
    padding: 12px 20px;
    border: solid 1px black;
    cursor: pointer;
    float: right;
    color: black;
    /* border-radius: 5px;
    margin: 2px; */
}

