* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        "logo header"
        "sidebar main"
        "footer footer";
}

body>header {
    grid-area: header;
    grid-row: 1;
    align-items: center;
    justify-items: center;
    margin: 1rem;
}

div#logo {
    margin: 1rem;
    justify-items: center;
    align-items: center;
    grid-area: logo;
}

body>header>h1 {
    grid-column: 2;
}

body>#menu {
    grid-area: sidebar;
    margin: 1rem;
}

body>main {
    grid-area: main;
    margin: 1rem;
}

body>footer {
    grid-area: footer;
}

p {
    text-align: center;
}

body>main>iframe {
    width: 100%;
    display: block;

}